<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  Parent
  <employee-child
    [all]="getAllEmp()"
    [male]="getMale()"
    [female]="getFemale()"
    (radioBtn)="getMessageFromChild($event)"
  ></employee-child>
</div>
<table>
  <thead>
    <tr>
      <td>Employee Code</td>
      <td>Date of Birth</td>
      <td>Name</td>
      <td>Gender</td>
      <td>Annual Salary</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let employee of employees">
      <tr *ngIf="selectedRadioBtn === 'all' || selectedRadioBtn == employee.gender">
        <td>{{employee.empCode}}</td>
        <td *ngIf="employee.name">{{employee.name}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.annualSalary}}</td>
        <td>{{employee.dateOfBirth}}</td>
      </tr>
    </ng-container>
  </tbody>
</table> -->
